@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    font-family: 'Roboto', sans-serif !important;
}

h1, h2, h3, h4, h5, h6, p, b, img, span, legend {
    user-select: none;
    pointer-events: none;
}

::-webkit-scrollbar-button {
    background-image: url('');
    background-repeat: no-repeat;
    width: 2px;
    height: 0px
}

::-webkit-scrollbar-track {
    background-color: #adf5bf
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: #202829;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #56999f;
}

::-webkit-resizer {
    background-image: url('');
    background-repeat: no-repeat;
    width: 2px;
    height: 0px
}

::-webkit-scrollbar {
    width: 2px;
}

body, html {
    height: 100%;
    background-image: url(./ass/bg.png);
}

#app {
    height: 100%;
}

#app_wrapper {
    max-width: 1111px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 67px;
}

.подсказки__вверх {
    max-width: 1111px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05)
}

.подсказки__вверх span {
    color: #8CFF9F;
    font-weight: 800;
    text-transform: uppercase;
}

.подсказки__вверх p {
    color: rgba(255, 255, 255, 0.25);
    font-size: 11px;
}

.button {
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 3px;
    padding: 9px;
}

.gun {
    padding-top: 47px;
    max-width: 525.67px;
}

.gun .txt {
    display: flex;
    justify-content: center;
    padding-bottom: 16.05px;
}

.gun .txt p {
    padding-left: 7.05px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
}

.gun__content {
    display: flex;
    position: relative;
    align-items: center;
}

.center__box {
    background: rgba(255, 255, 255, 0.12);
    border-radius: 2px;
    max-width: 165px;
    max-height: 54px;
    min-width: 165px;
    min-height: 54px;
    width: 100%;
    height: 100%;
    position: relative;
    margin-left: 15.86px;
    margin-right: 15.86px;
}

.center__box::before {
    position: absolute;
    content: "";
    height: 15px;
    width: 2px;
    background-color: #8CFF9F;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-left: 0px;
    left: 0;
}

.крайний {
    max-width: 164.48px;
    max-height: 44.08px;
    min-width: 164.48px;
    min-height: 44.08px;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.02);
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.32);
}

.txt__i {
    display: flex;
    align-items: center;
}

.txt__i p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    max-width: 11px;
    padding-left: 11px;
}

.main__content {
    padding-top: 44px;
    display: flex;
    margin-right: 80px;
}

.block {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 23px;
}
.d{
    border: 1px solid rgba(255, 255, 255, 0.1);
    max-height: 71px !important;
    max-width: 62px !important;
    width: 100%;
    /* padding-bottom: 10px;
    padding-right: 20px; */
    padding-bottom: 71px !important;
    margin-top: 5px;
    /* margin-right: 20px; */
    margin-right: 16px;
    margin-bottom: 8.5px;
    position: relative;
    transition: all .2s ease;
}
.itset {
    max-height: 80px;
    max-width: 80px;
    width: 100%;
    padding-bottom: 10px;
    padding-right: 20px;
    position: relative;
}



.block::before {
    position: absolute;
    content: "";
    height: 15px;
    width: 2px;
    background-color: #8CFF9F;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-left: 0px;
    right: 0;
    opacity: 0;
    transition: all 0.2s ease
}

.block img {
    padding-top: 19.31px;
    padding-right: 13.74px;
    padding-bottom: 16.88px;
    padding-left: 14px;
    max-width: 38px;
    max-height: 38px;
    width: 100%;
    height: 100%;
}

.block * {}

.block legend {
    color: rgba(255, 255, 255, 0.6);
    font-size: 9px;
    margin: 0 auto;
}

.block:hover {
    background: rgba(255, 255, 255, 0.07);
}

.block:hover::before {
    opacity: 1
}

.items {
    margin-right: 58px;
}

.items__cont {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    /* max-width: 539px; */
    max-width: 303px;
    max-height: 428px;
    overflow-y: auto;
}

.pre {
    position: absolute;
    bottom: -1px;
    color: rgba(255, 255, 255, 0.27);
    font-size: 9px;
    font-weight: bold;
}

.human {
    position: relative;
    margin-right: 58px;
}

.per__block {
    background-color: rgba(243, 243, 243, 0.01);
    border: 0.5px solid rgba(140, 255, 159, 0.18);
    border-radius: 2px;
    max-width: 39.32px;
    max-height: 39.32px;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.лев {
    top: 55px;
}
.рюкзак{
    top: 55px;
    right: 0;
}

.топ {
    top: 0px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.цент {
    top: 55px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.цен {
    top: 106px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.це {
    top: 162px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.центе {
    top: 264px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.низ {
    bottom: 25px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.ле {
    top: 169px;
    left: 11px;
}

.л {
    top: 223px;
    left: 3px;
}

.прав {
    top: 169px;
    right: 11.34px;
}

.право {
    right: 4px;
    top: 223px;
}

.name {
    display: flex;
    padding-bottom: 29px;
}

.name b {
    font-weight: 900;
    color: #8CFF9F;
    font-size: 20px;
}

.name p {
    padding-left: 6px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 900;
}

.title__stat {
    color: rgba(255, 255, 255, 0.2);
    padding-bottom: 21px;
}

.ds {
    display: flex;
}

.ds .ob {
    margin-left: 10px;
    width: 182px;
    position: relative;
    display: flex;
    position: relative;
    align-items: center;
}

.food .bar {
    width: 100%;
    height: 3px;
    position: relative;
    background-color: #F7BA1F;
    z-index: 5;
}

.water .bar {
    background-color: #4DCFE0;
}

.ol {
    width: 182px;
    height: 1px;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFFFF;
    opacity: 0.7;
    z-index: 1;
    position: absolute;
    margin: auto;
}

.fod {
    padding-bottom: 11px;
}

.drop {
    margin-top: 25px;
    max-width: 282px;
    max-height: 243px;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-sizing: border-box;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.15);
}

.drop p {
    padding: 114px 63px;
    display: flex;
}

.chart {
    stroke: #8CFF9F;
    fill: none;
    stroke-dasharray: 1542.81, 2763.91;
    transform: rotate(0.46turn);
    stroke-width: 90;
    z-index: 24;
    transition: all .1s ease;
}

.sd {
    stroke: rgba(255, 255, 255, .3);
    fill: none;
    stroke-dasharray: 1542.81, 2763.91;
    transform: rotate(0.46turn);
    stroke-width: 30;
}

.ruk {
    display: flex;
    align-items: center;
}

.ruk p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    padding-left: 4px;
    max-width: 60px;
}

.bottom__ruk {
    max-width: 483px;
    padding-top: 53px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.topr {
    display: flex;
    justify-content: center;
}

.iz {
    margin-left: 27px;
    position: relative;
}

.iz p {
    position: absolute;
    top: -1.5px;
    left: .5px;
    font-weight: bold;
    font-size: 11px;
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    background-color: rgba(0, 0, 0, 0.03);
    border: 1px solid rgba(140, 255, 159, 0.1);
    border-radius: 3px;
    max-width: 57.74px;
    max-height: 57.74px;
    min-width: 57.74px;
    min-height: 57.74px;
    width: 100%;
    height: 100%;
    margin-bottom: 21px;
    margin-left: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.yachIt {
    padding-top: 24px;
    display: flex;
    justify-content: center;
    max-width: 483px;
    flex-wrap: wrap;
}

.oops {
    z-index: 9;
}

.dropdown {
    background-color: rgba(0, 0, 0, .8);
    border-radius: 5px 0px 5px 0px;
    font-size: 12px;
    min-width: 80px;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 23;
    bottom: -20px;
    z-index: 59;
    user-select: auto;
    pointer-events: all;
    text-align: left;
}

.dropdown p {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    z-index: 999;
    user-select: auto;
    pointer-events: all;
    cursor: pointer;
    transition: all .1s ease
}

.dropdown p:hover {
    position: relative;
    color: #8CFF9F;
    background-color: #202829;
}

.fl__ruk{
    color: rgba(255, 255, 255, .7);
    background-color: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.08);
    padding: 10px;
    font-size: 13px;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
/* иди naxui со своей адаптацией))0))))) */
@media screen and (max-width: 977px) {
    #app{
        transform: scale(0.8);
    }
}